node_modules/
*/src/common/
bragi/webpack.config.js
bragi/webpack-es2015.config.js
lit-html/webpack-es2015.config.js
lit-html/webpack.config.js
hyperHtml/webpack-es2015.config.js
hyperHtml/webpack.config.js
*/yarn-error.log