<!doctype html>
<title>calendar with <%= htmlWebpackPlugin.options.options.lib %></title>
<meta charset=utf-8>
<link rel=icon href=./common/favicon.png>
<link rel=stylesheet
      href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel=stylesheet href=./common/calendar.css>
<h3><%= htmlWebpackPlugin.options.options.lib %></h3>
<div id=root></div>
<h5><a href="https://github.com/chriskr/test_ui_libs">github repo</a></h5>
<script> window.__supportsNewJS__ = false; </script>
<script src="<%= htmlWebpackPlugin.files.js %>"></script>
<script>
window.addEventListener('load', function() {
  if (window.__supportsNewJS__ === false) {
    window.location.href = './index-es2015.html';
  }
});
</script>
